@import "./app/assets/styles/main.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  background-color: $color-primary-yellow;
  color: $color-neutral-black;
  font-weight: $font-weight-regular;
  // font-size: $font-size-body-m-mobile;
  @include responsive(font-size, $font-size-body-m-mobile, $font-size-body-m-desktop);
  // line-height: normal;
  line-height: 1.5;
  min-width: $width-mobile;
  height: 100vh;
}
